.user-info__career {
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  max-width: 350px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .user-info__career  {
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    max-width: 250px;
  }
}