.page__main {
  flex: 1 0 auto;
}

@media screen and (max-width: 1023px) {
  .page__main {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .page__main {
    padding-left: 19px;
    padding-right: 19px;
  }
}