.user__cards-geometry {
  margin-bottom: 45px;
}

@media screen and (max-width: 767px) {
  .user__cards-geometry {
    justify-content: center;
  }
}

@media screen and (max-width: 424px) {
  .user__cards-geometry {
    margin-bottom: 27px;
  }
}